$background-color: #e6ecf0;
$link-color: #1da1f2;

$error-font-color: #721c24;
$error-background-color: #f8d7da;
$error-border-color: #f5c6cb;

$tweet-box-background-color: #e8f5fd;
$tweet-box-border-color: #e6ecf0;
$tweet-box-textarea-border-color: #a4d9f9;
$tweet-box-textarea-background-color: #fff;
$tweet-box-button-background-color: #4ab3f4;
$tweet-box-button-border-color: #1da1f2;
$tweet-box-button-font-color: #fff;

$tweet-background-color: #fff;
$tweet-border-color: #e6ecf0;
$tweet-details-full-name-font-color: #000;
$tweet-details-font-color: #657786;