nav {
  background: $nav-background-color;

  ul {
    @extend %clear-fix;
    list-style: none;

    li {
      float: left;

      a {
        color: $nav-link-color;
        display: block;
        font-weight: 600;
        height: 46px;
        line-height: 46px;
        padding: 0 14px;
        text-decoration: none;

        &.active,
        &:hover {
          border-bottom: 2px solid $nav-link-active-color;
          color: $nav-link-active-color;
        }
      }
    }
  }
}
